<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784641961008-dlt5qa16ho7606fuhm8mqcl3rg9unsnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784641961008-dlt5qa16ho7606fuhm8mqcl3rg9unsnt</string>
	<key>API_KEY</key>
	<string>AIzaSyAMaZbFkTfrLtSs0-xNSEc5VClM8nx44Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>784641961008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qfinr.qfinrapp</string>
	<key>PROJECT_ID</key>
	<string>qfinr-9ecd3</string>
	<key>STORAGE_BUCKET</key>
	<string>qfinr-9ecd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784641961008:ios:0f3880a0d4f43b63f551f5</string>
</dict>
</plist>